<strong> Olá, {{provider}} </strong>
<p>Houve um cancelamento de horario!</p>
<br/>
<p>
<strong>Cliente:</strong> {{user}} <br/>
<strong>Data/hora:</strong> {{date}} <br/>
<small>
  O horário está vago para receber agendamentos.
</small>
</p>
